In [3]:
# DataFrame 2 Dimensional Array
import numpy as np
import pandas as pd

In [6]:
pd.DataFrame(
    {
        ("a", "b"): {("A", "B"): 1, ("A", "C"): 2},
        ("a", "a"): {("A", "C"): 3, ("A", "B"): 4},
        ("a", "c"): {("A", "B"): 5, ("A", "C"): 6},
        ("b", "a"): {("A", "C"): 7, ("A", "B"): 8},
        ("b", "b"): {("A", "D"): 9, ("A", "B"): 10},
    }
)

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

In [7]:
# Creating  DataFrame from Named Tuple

from collections import namedtuple

In [8]:
Rectangle = namedtuple("Rectangle", "p q r s")

In [10]:
pd.DataFrame(Rectangle(0, 0, 0, 0))
# pd.DataFrame([Rectangle(0, 0, 0, 0), Rectangle(1, 2, 1, 2)])

   0
0  0
1  0
2  0
3  0

In [11]:
df = pd.DataFrame({
    "A": [1, 2, 3],
    "B": [1.0, 2.0, 3.0]
})

In [12]:
# Selecting a Column
df["A"]

0    1
1    2
2    3
Name: A, dtype: int64

In [14]:
df["C"] = df["A"] + df["B"]

In [16]:
df["D"] = df["C"] > 4

In [17]:
df

   A    B    C      D
0  1  1.0  2.0  False
1  2  2.0  4.0  False
2  3  3.0  6.0   True

In [18]:
del df["D"]

In [19]:
df

   A    B    C
0  1  1.0  2.0
1  2  2.0  4.0
2  3  3.0  6.0

In [20]:
c = df.pop("C")

In [21]:
c

0    2.0
1    4.0
2    6.0
Name: C, dtype: float64

In [22]:
df

   A    B
0  1  1.0
1  2  2.0
2  3  3.0

In [26]:
# Selecting a row by location (row name of index name)
df.loc[0]

A    1.0
B    1.0
Name: 0, dtype: float64

In [28]:
# Selecting a row by index integer (0, 1, 2 ...)
df.iloc[0]

A    1.0
B    1.0
Name: 0, dtype: float64

In [30]:
# Slice rows
df[0:3]

   A    B
0  1  1.0
1  2  2.0
2  3  3.0

In [34]:
# Select row by boolean vector
df[df["A"] >= 2]

   A    B
1  2  2.0
2  3  3.0