### Pandas 
Documentation: https://pandas.pydata.org/getting_started.html

In [ ]:
import pandas as pd
pd.__version__

### Data Structures

#### 1D Array

In [ ]:
array = pd.Series([1, 2, 3, 4, 5])

In [ ]:
print(array[0])
print(array[1])
print(array[2:3 + 1])

### 2D Array

In [ ]:
df = pd.DataFrame({
    "Marks": [100, 98, 89, 98],
    "Blood Group": ["B+", "O+", "O-", "AB+"],
    "Name": ["Kunal", "Ajay", "David", "Paul"]
})

In [27]:
df

   Marks Blood Group   Name
0    100          B+  Kunal
1     98          O+   Ajay
2     89          O-  David
3     98         AB+   Paul

In [30]:
import numpy as np
np.__version__

'1.26.4'

In [31]:
dates = pd.date_range("20240406", periods=4)

In [34]:
dates

DatetimeIndex(['2024-04-06', '2024-04-07', '2024-04-08', '2024-04-09'], dtype='datetime64[ns]', freq='D')

In [35]:
df = pd.DataFrame(np.random.randn(4, 4), index=dates, columns=list("ABCD"))

In [37]:
df

                   A         B         C         D
2024-04-06 -0.563619  0.640322 -0.264841 -0.336386
2024-04-07 -0.178232 -0.389723  0.006602 -0.361770
2024-04-08  0.078089  1.394741  0.356570  1.185091
2024-04-09 -0.415518 -0.754217  1.557965 -0.564534

In [38]:
df.head()

                   A         B         C         D
2024-04-06 -0.563619  0.640322 -0.264841 -0.336386
2024-04-07 -0.178232 -0.389723  0.006602 -0.361770
2024-04-08  0.078089  1.394741  0.356570  1.185091
2024-04-09 -0.415518 -0.754217  1.557965 -0.564534

In [39]:
df.head(1)

                   A         B         C         D
2024-04-06 -0.563619  0.640322 -0.264841 -0.336386

In [40]:
df.tail(1)

                   A         B         C         D
2024-04-09 -0.415518 -0.754217  1.557965 -0.564534

In [41]:
df.index

DatetimeIndex(['2024-04-06', '2024-04-07', '2024-04-08', '2024-04-09'], dtype='datetime64[ns]', freq='D')

In [43]:
# df.to_csv(path_or_buf="./ab.csv")

In [44]:
# df.to_html(buf="data.html")

In [45]:
df.to_numpy()

array([[-0.56361882,  0.64032245, -0.26484136, -0.3363863 ],
       [-0.17823215, -0.38972257,  0.00660189, -0.36176968],
       [ 0.07808942,  1.39474098,  0.35657044,  1.18509118],
       [-0.41551754, -0.75421665,  1.55796497, -0.56453426]])