In [1]:
import numpy as np
import pandas as pd

In [8]:
x = pd.Series(np.random.randn(10))

In [9]:
x

0    0.188981
1   -0.473545
2   -0.751512
3    0.752427
4   -0.497090
5   -0.380856
6   -0.281526
7    1.086061
8   -1.575359
9   -1.599496
dtype: float64

In [11]:
x[x > x.median()]

0    0.188981
3    0.752427
5   -0.380856
6   -0.281526
7    1.086061
dtype: float64

In [12]:
x.array

<NumpyExtensionArray>
[ 0.18898053072848853, -0.47354525911254014,  -0.7515115351809576,
   0.7524268026904087,  -0.4970902447874521,  -0.3808558308949668,
  -0.2815262188286007,   1.0860614885710114,  -1.5753592705574195,
  -1.5994962652826785]
Length: 10, dtype: float64

In [13]:
x

0    0.188981
1   -0.473545
2   -0.751512
3    0.752427
4   -0.497090
5   -0.380856
6   -0.281526
7    1.086061
8   -1.575359
9   -1.599496
dtype: float64

In [14]:

x[0] = 0

In [15]:
x

0    0.000000
1   -0.473545
2   -0.751512
3    0.752427
4   -0.497090
5   -0.380856
6   -0.281526
7    1.086061
8   -1.575359
9   -1.599496
dtype: float64

In [16]:
x[1] = "Non int"

C:\Users\Kunal Singh\AppData\Local\Temp\ipykernel_7200\1576003865.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Non int' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  x[1] = "Non int"

In [18]:
x

0         0.0
1     Non int
2   -0.751512
3    0.752427
4    -0.49709
5   -0.380856
6   -0.281526
7    1.086061
8   -1.575359
9   -1.599496
dtype: object

In [19]:
x[19289] = 0

In [20]:
x

0             0.0
1         Non int
2       -0.751512
3        0.752427
4        -0.49709
5       -0.380856
6       -0.281526
7        1.086061
8       -1.575359
9       -1.599496
19289           0
dtype: object

In [21]:
x.get(29999)

In [23]:
x.get(203949, -1)

-1

In [24]:
x + x

0                   0.0
1        Non intNon int
2             -1.503023
3              1.504854
4              -0.99418
5             -0.761712
6             -0.563052
7              2.172123
8             -3.150719
9             -3.198993
19289                 0
dtype: object

In [25]:
x * 1000

0                                                      0.0
1        Non intNon intNon intNon intNon intNon intNon ...
2                                              -751.511535
3                                               752.426803
4                                              -497.090245
5                                              -380.855831
6                                              -281.526219
7                                              1086.061489
8                                             -1575.359271
9                                             -1599.496265
19289                                                    0
dtype: object

In [26]:
y = pd.Series(0, index=[x for x in range(100)])

In [27]:
y

0     0
1     0
2     0
3     0
4     0
     ..
95    0
96    0
97    0
98    0
99    0
Length: 100, dtype: int64

In [30]:
# Vectorized Operations
# Operations performed on an array as whole.
y = y + 1

In [32]:
y = y * 2

In [33]:
y * 100

0     200
1     200
2     200
3     200
4     200
     ...
95    200
96    200
97    200
98    200
99    200
Length: 100, dtype: int64

In [34]:
# giving a name to array
something = pd.Series(np.random.randn(10), name="something")

In [35]:
something.name

'something'